


body {
    margin: 0px;
    padding: 0px;
    background-color: #ffe7d8;
    font-family: 'Nunito', sans-serif;
    text-align: center;

}

img {
    vertical-align: bottom;
}

header {
	margin: 0px;
    display: flex;
    justify-content: space-between;
    
}

ul {
	margin: 0px;
    list-style-type: none;
}

.main-cont{
	padding-top: 100px;
}

.default-text{
	font-size:30px;
    color: #111111;

}

.default-text-bold{
	font-size: 30px;
	font-weight: bold;
    color: #111111;

}

.default-text-large{
	font-size:40px;
    color: #111111;
}


.top-cont {
	margin: 0px;
    background-color: #000000CC;
    position: fixed;
    top: 0;
    width: 100%;
	height: 50px;
    z-index: 1;
	
}


.top-bar-text{
	margin: 0px;
    font-size: 30px;
    padding-right: 30px;
    color: #EFEFEF;
    text-decoration: none;
	text-align: center;
	
}

.home-button-cont{
	height : 50px;
	transform: translate(20px, 0);
}


.home-button{
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

.home-button:hover{
    color: #FFFFFF;

}

.navigation{
	transform: translate(0px, 50%);
}

.nav-button{
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
	padding-right: 40px;
}


.horizontal-block{
	background-color: #fff5ef;
	box-shadow: 2px 2px 10px #aaaaaa;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
}
div.nav {
	display: block;
	background-color: #F7E5DE;
	width: 100%;
	border-radius: 8px;
}

.test{
	float: left;
}

.item-viewer-nav-button{
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	
	padding: 10px 14px;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	

	
	box-shadow: 2px 2px 10px #aaaaaa;
	
}

.search-input{
	font-size: 20px;
	width: 500px;
	height: 40px;
	text-align: center;
	transform: translate(0, 4px);
	
	border-radius: 10px;
	border: none;
}

